# API Configuration
PUBLIC_API_URL=http://localhost:3000/api/v1
DATABASE_URL=postgresql://neondb_owner:npg_xxx@ep-xxx-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require

# Better Auth Configuration (Self-Hosted)
BETTER_AUTH_SECRET=YOUR_SECRET_HERE
BETTER_AUTH_URL=http://localhost:3000/api/v1/auth
BETTER_AUTH_API_KEY=ba_xxx

# Sentry Configuration
SENTRY_DSN=
VITE_SENTRY_DSN=
LOG_LEVEL=info
