VITE_DATABASE_URL=url_de_tu_base_de_datos_postgres
VITE_CLOUDINARY_CLOUD_NAME=nombre-de-tu-proyecto-cloudinary
VITE_CLOUDINARY_API_KEY=api_key_de_tu_cloudinary
VITE_CLOUDINARY_API_SECRET=api_secret_de_tu_cloudinary
VITE_AUTH0_DOMAIN=domain-de-tu-auth0
VITE_AUTH0_CLIENT_ID=client_id_de_tu_auth0


