# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Drizzle
drizzle/
node_modules
dist
dist-ssr
.vscode*/
*.local

.docs/

.vscode/
.env
node_modules/
dist/

.vercel
.env*.local
