@import "tailwindcss";

@theme {
  --color-primary: #8C1B58;
  --color-primary-light: #BF3F7F;
  --color-primary-dark: #590E35;
  --color-secondary: #F2D7D9;
  --color-accent: #D99B9B;
}

:root {
  --primary-color: #8C1B58;
  --primary-light: #BF3F7F;
  --primary-dark: #590E35;
  --secondary-color: #F2D7D9;
  --accent-color: #D99B9B;
}

body {
  @apply antialiased bg-white;
}

.btn {
  @apply px-6 py-2 rounded-full font-medium transition-all duration-300;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary-light active:scale-95;
}

.btn-ghost {
  @apply text-primary-dark hover:bg-secondary;
}
